div.deck-container

  section.intro.slide
    h1 The web as application platform
    img(src="http://www.w3.org/html/logo/downloads/HTML5_Logo_256.png")

  section.slide
    h2 Evolution of the web
    blockquote The Web over 20 years has developed from a Web of more-or-less static documents to, now, a platform for applications.
    p.right Ian Jacobs, W3C

  section.slide
    h2 Things you might not know

    ul
      li: a(href="http://media.tojicode.com/q3bsp/") Hardware-accelerated rendering with WebGL
      li: a(href="http://www.html5rocks.com/en/tutorials/getusermedia/intro/") Capturing Audio &amp; Video in the browser
      li: a(href="http://www.html5rocks.com/en/features/offline") Offline-support for web applications
      li: a(href="http://en.wikipedia.org/wiki/JavaScript_engine#Performance_evolution") JavaScript is getting faster and faster
      li: a(href="http://getchrome.eu") There are operating systems written around web browsers
      li: a(href="http://msdn.microsoft.com/en-us/library/windows/apps/br211386.aspx") Windows 8 Apps can be developed with HTML5
    ul
      li Further reading:  
        a(href="http://www.html5rocks.com") http://www.html5rocks.com

  section.slide
    h2 Nice, but you can't touch this!
    img.hammer(src="/images/hammer.png")

  section.slide
    h2 Actually you can!
    p (when your browser implements the touch events API)
    ul
      li: a(href="http://www.w3.org/TR/touch-events/") http://www.w3.org/TR/touch-events/
      li: a(href="http://caniuse.com/#feat=touch") http://caniuse.com/#feat=touch

  section.slide
    h2 HTML5 video tag
    br
    video(width="500", controls="controls")
      source(src="http://jmaicher.de/MAGIC.mp4", type="video/mp4")
