div.deck-container

  section.slide
    h1 Current state of Multi-Touch in Web Browsers

  section.slide
    h2 Evolution of the web
    blockquote The Web over 20 years has developed from a Web of more-or-less static documents to, now, a platform for applications.
    p Ian Jacobs, W3C

  section.slide
    h2 What's HTML5?
    p HTML5 is more than just a markup language
    p HTML5 is a marketing name for a whole set of technologies:
    ul      
      li the markup language itself (HTML Version 5)
      li the Document Object Model
      li Cascading Stylesheets (CSS3)
      li JavaScript
      li about 60 specific (JavaScript) APIs to access new browser-based graphics, geolocation, local storage, video capabilities, ...

  section.slide
    h2 Touch events
    ul
      li touch_down
      li touch_move
      li touch_up

  
