extends ../layout

append head
  link(rel="stylesheet", href="/stylesheets/session.css")
  script(src="/javascripts/session.js")
  script
    var session = new RemoteDecks.Session(!{JSON.stringify(session)});
    session.speakers = new RemoteDecks.Speakers(!{JSON.stringify(session.speakers.getConnected())});
    session.spectators = new RemoteDecks.Spectators(!{JSON.stringify(session.spectators.getConnected())});

block content
  body.session
    div.btn-group.action-bar
      a.btn.btn-small.btn-success.dropdown-toggle(data-toggle="dropdown", href="javascript:;")
        i.connected-icon.icon-ok.icon-white
        i.disconnected-icon.icon-remove.icon-white
        i.pending-icon.icon-refresh.icon-white
    div.slides
      include _slides
