!!! 5
html
  head
    block head
      title #{title}
      link(rel="stylesheet", href="/stylesheets/shared.css")
      script(src="/javascripts/socket.io.min.js")
      script(src="/javascripts/jquery-1.7.2.min.js")
      script(src="/javascripts/shared.js")
  body
    block content
