!!! 5
html
  head
    block head
      title #{title}
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/deck.core.css")
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/themes/swiss.css")
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/transitions/horizontal-slide.css")
      link(rel="stylesheet", href="/stylesheets/vendor/bootstrap/bootstrap.css")
      link(rel="stylesheet", href="/stylesheets/vendor/bootstrap/bootstrap-responsive.min.css")
      link(rel="stylesheet", href="/stylesheets/shared.css")
      script(src="/javascripts/vendor/socket.io.min.js")
      script(src="/javascripts/vendor/jquery-1.7.2.min.js")
      script(src="/javascripts/vendor/modernizr.custom.js")
      script(src="/javascripts/vendor/underscore-1.4.2.min.js")
      script(src="/javascripts/vendor/backbone-0.9.2.min.js")      
      script(src="/javascripts/vendor/deck.js/deck.core.js")
      script(src="/javascripts/vendor/bootstrap.min.js")
      script(src="/javascripts/vendor/namespace.js")
      script(src="/shared/models/session.js")
      script(src="/javascripts/shared.js")
      
  body
    block content
