!!! 5
html
  head
    block head
      title #{title}
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/deck.core.css")
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/themes/swiss.css")
      link(rel="stylesheet", href="/stylesheets/vendor/deck.js/transitions/horizontal-slide.css")
      link(rel="stylesheet", href="/stylesheets/vendor/bootstrap/bootstrap.css")
      link(rel="stylesheet", href="/stylesheets/vendor/bootstrap/bootstrap-responsive.min.css")
      link(rel="stylesheet", href="/stylesheets/style.css")
      script(src="/javascripts/vendor/socket.io.min.js")
      script(src="/javascripts/vendor/jquery-1.7.2.min.js")
      script(src="/javascripts/vendor/jquery.flexverticalcenter.js")
      script(src="/javascripts/vendor/modernizr.custom.js")
      script(src="/javascripts/vendor/underscore-1.4.2.min.js")
      script(src="/javascripts/vendor/backbone-0.9.2.min.js")
  
      script(src="/javascripts/vendor/deck.js/deck.core.js")
      script(src="/javascripts/vendor/bootstrap.min.js")
      script(src="/javascripts/vendor/namespace.js")

      script(src="/shared/models/speaker.js")
      script(src="/shared/collections/speakers.js")
      script(src="/shared/models/spectator.js")
      script(src="/shared/collections/spectators.js")
      script(src="/shared/models/session.js")
      script(src="/shared/collections/sessions.js")
      script(src="/javascripts/shared.js")
      
  block content
