div.sessions
  margin-top: 25px

  h1
    margin-top: 0px

  a.create-new-session
    float: right

  div.session
    margin-bottom: 20px
  
    div.join
      float: right
      margin-top: 10px

    p.name
      margin-bottom: 0
