body.session
  background-color: #F0F0F0
  
  .action-bar
    position: absolute
    top: 5px
    right: 5px
    
    a
      display: none
      
      i
        display: none

    a.pending
      display: inline-block
      i.pending-icon
        display: block
    a.connected
      display: inline-block
      i.connected-icon
        display: block
    a.disconnected
      display: inline-block
      i.disconnected-icon
        display: block
        

  .slides
    width: 100%
    height: 100%

    .deck-container
      width: auto
      max-width: 864px
      margin: 16px auto 24px auto
      min-height: 560px
      font-size: 16px
      border-radius: 10px
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3)
    
      section.slide
        background-color: transparent !important
